.MainBannerSection {
  padding: 50px 0px;
}
.Banner-Content > div {
  flex: 0 45%;
}
.Banner-Image {
  width: 400px;
  height: 400px;
  img {
    border: 15px solid var(--fade-gray);
    border-radius: 50%;
  }
}
.MainHeading h1 {
  font-size: 42px;
  color: var(--white-color);
}
.Banner-Para {
  margin-bottom: 30px;
  p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 28px;
  }
}
.Banner-Button {
  gap: 20px;
}
.Download-CV,
.Contact {
  display: inline-flex;
  font-size: 14px;
  background: var(--fade-gray);
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  transition: all ease 0.3s;
}
.Contact {
  border: 2px solid var(--white-color);
}
.Download-CV:hover {
  background: var(--blue-color);
}
.Contact:hover {
  background: var(--white-color);
  color: var(--fade-gray);
}
