.ContactMeSection-fl > div {
  flex: 0 45%;
}
.ContactLogo {
  width: 30px;
  height: 30px;
}
.Contact-Box {
  gap: 10px;
}
.Adress-fl,
.Input-Contact-Area {
  gap: 20px;
}
.contact-h3 {
  margin-bottom: 5px;
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
  }
}
.contact-styl-p p {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 400;
}
.Input-Box,
.Text-Area {
  width: 80%;
}
.Input-Box input,
.Text-Area textarea {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  border: 3px solid var(--fade-gray);
  border-radius: 5px;
  color: var(--text-color);
}
.Text-Area textarea {
  max-width: 100%;
  max-height: 100px;
}
