.cursor-move::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: none;
  border: 1px solid #ffffff90;
  border-radius: 50%;
  top: -14px;
  left: -13px;
}
