@media (max-width: 992px) {
  .navigation-bar {
    padding: 40px 40px !important;
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--background-color);
    width: 50%;
    height: 100vh;
    z-index: 9;
    transition: all ease-in-out 0.5s;
  }
  .OverLay-Add {
    position: fixed;
    top: 0;
    left: -100%;
    background: rgba(0, 0, 0, 0.251);
    width: 100%;
    height: 100vh;
    z-index: 8;
    transition: all ease-out 1.3s;
  }
  .nav-items-fl {
    flex-direction: column;
    gap: 30px;
  }
  .nav-items,
  .hire-Button {
    width: 100%;
  }
  .Close-x {
    background: var(--fade-gray);
    width: 30px;
    height: 30px;
    color: var(--white-color);
    border: 1px solid var(--text-color);
    padding: 4px;
  }
  .Nav-open-btn,
  .crose-x-btn,
  .OverLay-Add {
    display: block;
    text-align: right;
    .Toggle-btn {
      width: 30px;
      height: 30px;
      background: var(--fade-gray);
      border: 1px solid var(--white-color);
      color: var(--white-color);
      padding: 4px;
    }
  }
  .Working-Boxes-fl > div,
  .Banner-Content > div,
  .ContactMeSection-fl > div {
    flex: 100% !important;
    padding: 0 !important;
  }
  .Banner-Content,
  .Working-Boxes-fl,
  .Contact-fl,
  .ContactMeSection-fl {
    gap: 30px !important;
  }
  .MainWhatIDoSection {
    padding: 10px 0px !important;
  }
  .Working-Boxes-fl > div:hover {
    scale: initial !important;
    box-shadow: initial !important;
  }
  .Input-Box,
  .Text-Area {
    width: 100% !important;
  }
}
@media (max-width: 567px) {
  .navigation-bar {
    width: 100%;
  }
  .Banner-Image {
    width: 320px !important;
    height: 320px !important;
  }
  .social-name a,
  .copyright p {
    font-size: 10px !important;
  }
  .gap40 {
    gap: 40px;
  }
  .year p {
    font-size: 10px !important;
  }
  .Contact-Box {
    justify-content: flex-start !important;
  }
  .Contact-fl > div {
    flex: 100% !important;
  }
  .Text-Area textarea {
    max-width: 445px;
  }
  .Projects-Parent-Box > div {
    flex: 100%;
  }
  .ChatBot-Ui,
  .SandBox-Ui,
  .Malika-Ui {
    max-width: 100% !important;
  }
}
